In [0]:
#!/usr/bin/env python
# coding: utf-8
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import preprocessing

data=pd.read_csv('poll.csv')
data.head()
data=data.drop(['date'],axis=1)
# print(data.head())
data = data.dropna(thresh=3)
data = data.fillna(0)
print(data.head(20))
print(data.shape)
print(data.describe())

    pm25  pm10    o3   no2  so2
0   16.0   9.0  25.0  10.0  0.0
1   21.0  25.0  11.0  26.0  1.0
2   65.0  20.0  20.0  18.0  1.0
3   56.0  15.0  25.0   7.0  0.0
4   46.0   0.0  30.0   2.0  0.0
5   11.0   5.0  28.0   1.0  0.0
7   18.0   7.0  27.0   2.0  0.0
8   14.0  13.0  27.0   4.0  0.0
9   25.0   9.0  20.0  14.0  0.0
10  31.0   8.0  29.0   6.0  0.0
11  19.0   3.0  30.0   0.0  0.0
13  14.0   6.0  28.0   6.0  0.0
14  16.0   5.0  29.0   2.0  0.0
15  11.0   7.0  29.0   6.0  0.0
16  15.0   7.0  24.0   7.0  0.0
18  28.0   9.0  22.0  12.0  1.0
19  21.0  21.0   7.0  18.0  1.0
20  69.0  27.0   1.0  13.0  0.0
22  22.0   6.0  26.0   5.0  0.0
23  14.0   6.0  29.0   5.0  0.0
(740, 5)
             pm25        pm10          o3         no2         so2
count  740.000000  740.000000  740.000000  740.000000  740.000000
mean    32.950000   10.989189   19.789189    7.912162    0.587838
std     23.304397    7.805650    7.868602    5.531224    8.477407
min      0.000000    0.000000    1.000000    0.000000    0.000000
25%     17.000000    6.000000   14.000000    4.000000    0.000000
50%     27.000000    9.000000   20.000000    7.000000    0.000000
75%     46.000000   14.000000   25.000000   11.000000    0.000000
max    185.000000   82.000000   42.000000   31.000000  230.000000

['pm25', 'pm10', 'o3', 'no2', 'so2']

In [0]:
plt.hist(data['pm25'], color = 'blue', edgecolor = 'black',
         bins = int(191/10))
data['pm25'].fillna((data['pm25'].mean()), inplace=True)
plt.hist(data['pm25'], color = 'blue', edgecolor = 'black',
         bins = int(191/10))
plt.hist(data['pm10'], color = 'blue', edgecolor = 'black',
         bins = int(84/10))
data['pm10'].fillna((data['pm10'].mean()), inplace=True)
data['o3'].fillna((data['o3'].median()), inplace=True)
data['no2'].fillna((data['no2'].median()), inplace=True)
data['so2'].fillna((data['so2'].median()), inplace=True)
print(data.head(20)
data.describe()

In [0]:
data['pollution']= (0.20*data['pm25']+0.20*data['pm10']+0.3*data['o3']+0.1*data['no2']+0.15*data['so2'])/5
print(data.head(10))
x = data[['pollution']].values.astype(float)
min_max_scaler = preprocessing.MinMaxScaler()
x_scaled = min_max_scaler.fit_transform(x)
df_normalized = pd.DataFrame(x_scaled)
df_normalized
data['pollution_normalised']=df_normalized
data.head()
data.describe()
plt.hist(data['pollution_normalised'], color = 'blue', edgecolor = 'black',
         bins = 10)
data.drop(['pm25','pm10','o3','no2','so2','pollution'],axis=1)
data.to_csv(r'Desktop\Normalised Pollution.csv')
data["latitude"]=""
data['longitude']=""
data.head()
mod_data=data
mod_data.drop(['pm25','pm10','o3','no2','so2','pollution'],axis=1)
mod_data.to_csv(r'Desktop\Normalised Pollution.csv')

In [0]:
with open("lat.txt", 'r') as file_handle:
    lat = file_handle.readlines()
with open("long.txt",'r') as file_handle:
  longi = file_handle.readlines()

In [0]:
print(type(lat))
print(type(longi))

<class 'list'>
<class 'list'>

In [0]:
for i in range(len(lat)):
  lat[i] = lat[i][:-1]
  longi[i] = longi[i][:-1]

In [0]:
lat=pd.Series(lat)
longi=pd.Series(longi)
coord_dat=pd.concat([lat,longi],axis=1,ignore_index=True)
coord_dat.sample(len())

In [0]:
samples

                0             1
970   53.38263694  -6.206181111
1201  53.39742611     -6.306615
3728  53.28636194  -6.165993889
744   53.39699611  -6.234923889
1717  53.34675667  -6.379660278
...           ...           ...
4014  53.39714139  -6.341581111
2880  53.52341417  -6.091180833
1180  53.39722111  -6.310738056
579   53.33851306  -6.255003889
1590  53.28907694  -6.145040833

[740 rows x 2 columns]

In [0]:
data

     pm25  pm10    o3   no2  so2
0    16.0   9.0  25.0  10.0  0.0
1    21.0  25.0  11.0  26.0  1.0
2    65.0  20.0  20.0  18.0  1.0
3    56.0  15.0  25.0   7.0  0.0
4    46.0   0.0  30.0   2.0  0.0
..    ...   ...   ...   ...  ...
791   0.0   0.0  38.0  15.0  1.0
792   0.0   0.0  22.0  20.0  1.0
793   0.0   0.0  11.0  20.0  2.0
794   0.0   0.0  27.0  14.0  1.0
795   0.0   0.0  22.0   9.0  1.0

[740 rows x 5 columns]

In [0]:
samples=coord_dat.sample(len(data))

In [0]:
samples.reset_index(inplace=True)
data.reset_index(inplace=True)
del samples['index']
del data['index']
new_dat = pd.concat([data,samples],axis=1,ignore_index=True)

In [0]:
del new_dat[0]
new_dat = new_dat.rename(columns={1: 'pm25',2:'pm10',3:'o3',4:'no2',5:'so2',6:'latitudes',7:'longitudes'})

In [0]:
new_dat

     pm25  pm10    o3   no2  so2    latitudes    longitudes
0    16.0   9.0  25.0  10.0  0.0  53.38263694  -6.206181111
1    21.0  25.0  11.0  26.0  1.0  53.39742611     -6.306615
2    65.0  20.0  20.0  18.0  1.0  53.28636194  -6.165993889
3    56.0  15.0  25.0   7.0  0.0  53.39699611  -6.234923889
4    46.0   0.0  30.0   2.0  0.0  53.34675667  -6.379660278
..    ...   ...   ...   ...  ...          ...           ...
735   0.0   0.0  38.0  15.0  1.0  53.39714139  -6.341581111
736   0.0   0.0  22.0  20.0  1.0  53.52341417  -6.091180833
737   0.0   0.0  11.0  20.0  2.0  53.39722111  -6.310738056
738   0.0   0.0  27.0  14.0  1.0  53.33851306  -6.255003889
739   0.0   0.0  22.0   9.0  1.0  53.28907694  -6.145040833

[740 rows x 7 columns]

In [0]:
new_dat['o3'][1]

11.0

In [0]:
def calc_weight_avg(i,dat):
  weighted_avg = dat['o3'][i]*0.3+dat['no2'][i]*0.15+dat['so2'][i]*0.15+dat['pm25'][i]*0.2+dat['pm10'][i]*0.2
  return weighted_avg

wavg=[]
for i in range(len(new_dat)):
  wavg.append(calc_weight_avg(i,new_dat))

minv=min(wavg)
maxv=max(wavg)

for i in range(len(wavg)):
  wavg[i]=round((wavg[i]-minv)/(maxv-minv),3)

wavg=pd.Series(wavg)
test=pd.concat([new_dat,wavg],axis=1)
test=test.rename(columns={0:'weightpoll'})

del test['pm25']
del test['pm10']
del test['o3']
del test['no2']
del test['so2']

In [0]:
test

       latitudes    longitudes  weightpoll
0    53.38263694  -6.206181111       0.225
1    53.39742611     -6.306615       0.281
2    53.28636194  -6.165993889       0.485
3    53.39699611  -6.234923889       0.417
4    53.34675667  -6.379660278       0.323
..           ...           ...         ...
735  53.39714139  -6.341581111       0.220
736  53.52341417  -6.091180833       0.132
737  53.39722111  -6.310738056       0.062
738  53.33851306  -6.255003889       0.145
739  53.28907694  -6.145040833       0.095

[740 rows x 3 columns]

In [0]:
y=test['weightpoll']
del test['weightpoll']

In [0]:
test

       latitudes    longitudes
0    53.38263694  -6.206181111
1    53.39742611     -6.306615
2    53.28636194  -6.165993889
3    53.39699611  -6.234923889
4    53.34675667  -6.379660278
..           ...           ...
735  53.39714139  -6.341581111
736  53.52341417  -6.091180833
737  53.39722111  -6.310738056
738  53.33851306  -6.255003889
739  53.28907694  -6.145040833

[740 rows x 2 columns]

In [0]:
import sklearn
from sklearn import neighbors
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_validate


x=test
y=y


# kf = KFold(4, True, 42)

neighbor_list =[2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
cv_list=[2,3,4,5,6,7,8,9,10,11,12]

for i in neighbor_list:
  knr=neighbors.KNeighborsRegressor(i)
  for cvv in cv_list:
    cv_results = cross_validate(knr,x,y,cv=cvv)
    scores=cross_validate(knr,x,y,cv=5,scoring=('r2','neg_mean_squared_error'),return_train_score=True)
    print(str(i)+" "+str(cvv)+" "+str(np.mean(scores['train_r2'])))

2 2 0.4795932310722645
2 3 0.4795932310722645
2 4 0.4795932310722645
2 5 0.4795932310722645
2 6 0.4795932310722645
2 7 0.4795932310722645
2 8 0.4795932310722645
2 9 0.4795932310722645
2 10 0.4795932310722645
2 11 0.4795932310722645
2 12 0.4795932310722645
3 2 0.307010158711088
3 3 0.307010158711088
3 4 0.307010158711088
3 5 0.307010158711088
3 6 0.307010158711088
3 7 0.307010158711088
3 8 0.307010158711088
3 9 0.307010158711088
3 10 0.307010158711088
3 11 0.307010158711088
3 12 0.307010158711088
4 2 0.23571238191477883
4 3 0.23571238191477883
4 4 0.23571238191477883
4 5 0.23571238191477883
4 6 0.23571238191477883
4 7 0.23571238191477883
4 8 0.23571238191477883
4 9 0.23571238191477883
4 10 0.23571238191477883
4 11 0.23571238191477883
4 12 0.23571238191477883
5 2 0.18906694696399645
5 3 0.18906694696399645
5 4 0.18906694696399645
5 5 0.18906694696399645
5 6 0.18906694696399645
5 7 0.18906694696399645
5 8 0.18906694696399645
5 9 0.18906694696399645
5 10 0.18906694696399645
5 11 0.18906694696399645
5 12 0.18906694696399645
6 2 0.1556851076726469
6 3 0.1556851076726469
6 4 0.1556851076726469
6 5 0.1556851076726469
6 6 0.1556851076726469
6 7 0.1556851076726469
6 8 0.1556851076726469
6 9 0.1556851076726469
6 10 0.1556851076726469
6 11 0.1556851076726469
6 12 0.1556851076726469
7 2 0.13911201652284735
7 3 0.13911201652284735
7 4 0.13911201652284735
7 5 0.13911201652284735
7 6 0.13911201652284735
7 7 0.13911201652284735
7 8 0.13911201652284735
7 9 0.13911201652284735
7 10 0.13911201652284735
7 11 0.13911201652284735
7 12 0.13911201652284735
8 2 0.12854850533159773
8 3 0.12854850533159773
8 4 0.12854850533159773
8 5 0.12854850533159773
8 6 0.12854850533159773
8 7 0.12854850533159773
8 8 0.12854850533159773
8 9 0.12854850533159773
8 10 0.12854850533159773
8 11 0.12854850533159773
8 12 0.12854850533159773
9 2 0.11536698336052173
9 3 0.11536698336052173
9 4 0.11536698336052173
9 5 0.11536698336052173
9 6 0.11536698336052173
9 7 0.11536698336052173
9 8 0.11536698336052173
9 9 0.11536698336052173
9 10 0.11536698336052173
9 11 0.11536698336052173
9 12 0.11536698336052173
10 2 0.10377508642575328
10 3 0.10377508642575328
10 4 0.10377508642575328
10 5 0.10377508642575328
10 6 0.10377508642575328
10 7 0.10377508642575328
10 8 0.10377508642575328
10 9 0.10377508642575328
10 10 0.10377508642575328
10 11 0.10377508642575328
10 12 0.10377508642575328
11 2 0.0901623427697777
11 3 0.0901623427697777
11 4 0.0901623427697777
11 5 0.0901623427697777
11 6 0.0901623427697777
11 7 0.0901623427697777
11 8 0.0901623427697777
11 9 0.0901623427697777
11 10 0.0901623427697777
11 11 0.0901623427697777
11 12 0.0901623427697777
12 2 0.08349601530820801
12 3 0.08349601530820801
12 4 0.08349601530820801
12 5 0.08349601530820801
12 6 0.08349601530820801
12 7 0.08349601530820801
12 8 0.08349601530820801
12 9 0.08349601530820801
12 10 0.08349601530820801
12 11 0.08349601530820801
12 12 0.08349601530820801
13 2 0.07205434819680898
13 3 0.07205434819680898
13 4 0.07205434819680898
13 5 0.07205434819680898
13 6 0.07205434819680898
13 7 0.07205434819680898
13 8 0.07205434819680898
13 9 0.07205434819680898
13 10 0.07205434819680898
13 11 0.07205434819680898
13 12 0.07205434819680898
14 2 0.06561142629254657
14 3 0.06561142629254657
14 4 0.06561142629254657
14 5 0.06561142629254657
14 6 0.06561142629254657
14 7 0.06561142629254657
14 8 0.06561142629254657
14 9 0.06561142629254657
14 10 0.06561142629254657
14 11 0.06561142629254657
14 12 0.06561142629254657
15 2 0.06072183344275719
15 3 0.06072183344275719
15 4 0.06072183344275719
15 5 0.06072183344275719
15 6 0.06072183344275719
15 7 0.06072183344275719
15 8 0.06072183344275719
15 9 0.06072183344275719
15 10 0.06072183344275719
15 11 0.06072183344275719
15 12 0.06072183344275719
16 2 0.058463746450333656
16 3 0.058463746450333656
16 4 0.058463746450333656
16 5 0.058463746450333656
16 6 0.058463746450333656
16 7 0.058463746450333656
16 8 0.058463746450333656
16 9 0.058463746450333656
16 10 0.058463746450333656
16 11 0.058463746450333656
16 12 0.058463746450333656
17 2 0.05343594419034856
17 3 0.05343594419034856
17 4 0.05343594419034856
17 5 0.05343594419034856
17 6 0.05343594419034856
17 7 0.05343594419034856
17 8 0.05343594419034856
17 9 0.05343594419034856
17 10 0.05343594419034856
17 11 0.05343594419034856
17 12 0.05343594419034856
18 2 0.04705873073378206
18 3 0.04705873073378206
18 4 0.04705873073378206
18 5 0.04705873073378206
18 6 0.04705873073378206
18 7 0.04705873073378206
18 8 0.04705873073378206
18 9 0.04705873073378206
18 10 0.04705873073378206
18 11 0.04705873073378206
18 12 0.04705873073378206
19 2 0.041664377483248624
19 3 0.041664377483248624
19 4 0.041664377483248624
19 5 0.041664377483248624
19 6 0.041664377483248624
19 7 0.041664377483248624
19 8 0.041664377483248624
19 9 0.041664377483248624
19 10 0.041664377483248624
19 11 0.041664377483248624
19 12 0.041664377483248624
20 2 0.04316370258684608
20 3 0.04316370258684608
20 4 0.04316370258684608
20 5 0.04316370258684608
20 6 0.04316370258684608
20 7 0.04316370258684608
20 8 0.04316370258684608
20 9 0.04316370258684608
20 10 0.04316370258684608
20 11 0.04316370258684608
20 12 0.04316370258684608

In [0]:
from sklearn.model_selection import train_test_split
knr2=neighbors.KNeighborsRegressor(3)

X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)
knr2.fit(X_train,y_train)
y_pred = knr2.predict(X_test)

In [0]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test,y_pred)

ValueError: ignored

In [0]:
y_test

120    0.121
416    0.148
334    0.227
350    0.259
412    0.231
       ...
69     0.283
368    0.297
131    0.249
44     0.231
70     0.333
Name: weightpoll, Length: 148, dtype: float64

In [0]:
y_pred

array([0.201     , 0.43466667, 0.262     , 0.19666667, 0.43466667,
       0.247     , 0.38833333, 0.337     , 0.37966667, 0.27833333,
       0.19466667, 0.17666667, 0.193     , 0.24666667, 0.10866667,
       0.198     , 0.23266667, 0.29333333, 0.22233333, 0.19633333,
       0.22366667, 0.24      , 0.333     , 0.32733333, 0.205     ,
       0.11166667, 0.26666667, 0.254     , 0.29366667, 0.17566667,
       0.174     , 0.10266667, 0.267     , 0.30066667, 0.318     ,
       0.317     , 0.292     , 0.16833333, 0.22433333, 0.43266667,
       0.209     , 0.25433333, 0.23833333, 0.29366667, 0.21366667,
       0.261     , 0.24833333, 0.30533333, 0.171     , 0.407     ,
       0.20166667, 0.30866667, 0.30633333, 0.22366667, 0.489     ,
       0.209     , 0.20866667, 0.337     , 0.22733333, 0.31966667,
       0.36666667, 0.53133333, 0.278     , 0.291     , 0.21966667,
       0.11966667, 0.39233333, 0.21266667, 0.18633333, 0.397     ,
       0.22633333, 0.22166667, 0.292     , 0.34633333, 0.204     ,
       0.29133333, 0.229     , 0.22566667, 0.28366667, 0.26166667,
       0.181     , 0.20666667, 0.24733333, 0.20566667, 0.12933333,
       0.286     , 0.30333333, 0.42566667, 0.35066667, 0.384     ,
       0.20666667, 0.22566667, 0.324     , 0.26366667, 0.23966667,
       0.27733333, 0.256     , 0.27033333, 0.23333333, 0.27366667,
       0.28666667, 0.239     , 0.306     , 0.41133333, 0.232     ,
       0.193     , 0.234     , 0.19433333, 0.39233333, 0.3       ,
       0.35333333, 0.37466667, 0.17733333, 0.209     , 0.215     ,
       0.28133333, 0.466     , 0.29133333, 0.304     , 0.35633333,
       0.27333333, 0.35966667, 0.11966667, 0.31833333, 0.27433333,
       0.31966667, 0.21833333, 0.16233333, 0.218     , 0.27233333,
       0.229     , 0.31866667, 0.198     , 0.33      , 0.299     ,
       0.234     , 0.204     , 0.277     , 0.26733333, 0.31833333,
       0.153     , 0.131     , 0.24166667, 0.35966667, 0.489     ,
       0.22166667, 0.13766667, 0.25666667])

In [0]:
from sklearn.metrics import mean_squared_error as mse
mse(y_test,y_pred)

0.030007469219219218

In [0]:
import pickle
filename = 'pollution_prediction_correct.pkl'
pickle.dump(knr2, open(filename, 'wb'))

In [0]:
knr2.predict([53.333,-6.433])

ValueError: ignored

In [0]:
X_test

       latitudes    longitudes
120  53.35754694      -6.42383
416    53.330885  -6.296511667
334  53.27914222  -6.137957778
350  53.37060194  -6.351381944
412     53.33515  -6.294314722
..           ...           ...
69   53.35263889  -6.232396111
368     53.29004     -6.199535
131     53.28235  -6.233566944
44   53.09586611  -6.513723056
70   53.37728389  -6.328361111

[148 rows x 2 columns]

In [0]:
liss=[[53.28636194,-6.165993889]]
knr2.predict(liss)

array([0.256])